body{
    font-family:Sans Serif; 
    margin-left: 10%; 
    margin-right: 10%;  
}
.form{
    border: 50%; 
    border-style: solid; 
    border-color: black; 
    background-color: rgb(241, 238, 238); 
    opacity: 90%;
}
#logo{
    margin-top: 5%; 
    height: 10%; 
    width: 40%;
}
.center{
    text-align: center;
}
.margins{
    margin-left: 5%; 
    margin-right: 5%;
}
.textBox{
    width: 95%;
}
#inicio{
    width: 5%;
}
#homePage{
    position: relative; 
    margin-bottom: 0%; 
    margin-top: 0%;
}
#line{
    border-style:dashed ; 
    border-color:rgb(0, 40, 16); 
    border-width:2px;
}
.semester{
    width: 22%;
}
#required{
    margin-top: 0%;
}